<router-outlet *ngIf="profileshowen"></router-outlet>
<div *ngIf="showen" class='wrap'>
  Login
  <form>
    <input  id='username' placeholder='Username' #userName>
    <input type='password' id='password' placeholder='Password' #Password>
  </form>
    <button routerLink="/cr" (click)="pressed()" class='login'>CREATE NEW ACCOUNT</button> <button routerLink="/profile" (click)="loginPressed(userName.value,Password.value)" class='login'>LOG IN</button>
  <div class ='annonce' [ngSwitch]="found">
    <p *ngSwitchCase="true" >USERNAME AND PASSWORD IS CORRECT</p>
    <p *ngSwitchCase="false" >USERNAME OR PASSWORD IS NOT CORRECT </p>
    <p *ngSwitchDefault></p>
  </div>
</div>


